<mat-card appearance="outlined" class="card-maior">
  <mat-card-content class="card">
    <div class="container">
      <h1>Agendamento de Pagamentos Tokio Marine</h1>
      <div class="botoes">
        <button mat-raised-button color="primary" (click)="openDialog()" aria-label="Agendar Transferência">
          Agendar Transferência
        </button>
        <button mat-raised-button color="accent" (click)="listTranfers()" aria-label="Listar Transferências">
          Listar Transferências
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
