.card-maior {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
  }
  
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d47a1;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 20px 5px rgba(13, 71, 161, 0.7);
    width: 400px;
    height: 400px;
  }
  
  .container {
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  .botoes {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
  }
  
  button {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    background-color: #1976d2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #b0bec5;
  }